 <style>
    body{
      background-color: rgb(0, 0, 0);
    }
  </style>
<div class="container" style="background-color: white; margin-top: 10px; width: 600px;">
  <div class="row">
  <h2 style="text-align:center; font-weight:bold; ">Add Event</h2>
  <form method="post" action="/addPolicy">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" >Event Name</label>
    <input type="text" name="policyname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" >Event ID</label>
    <input type="text" name="pid" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" >Discription</label>
    <input type="text" name="dis" class="form-control" id="exampleInputPassword1">
  </div>
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" >Payment</label>
    <input type="text" name="mnthlypay" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"></label>
    {{!-- <input type="text" name="ptype" class="form-control" id="exampleInputPassword1"> --}}
    <select name="ptype" id="">
      <option value="Marriege">Marriege</option>
      <option value="Offical_Meeting">Offical Meeting</option>
      <option value="Cultural_Events">Cultural Events</option>
      <option value="Family_meetups">Family meetups</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
</div>
</div>